/*工具类*/
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix::after {
  /*设置添加的子元素的内容为空*/
  content: "";
  /*设置添加的子元素为块级元素*/
  display: block;
  /*设置添加的子元素的高度为0*/
  height: 0;
  /*设置添加的子元素看不见*/
  visibility: hidden;
  /*给添加的子元素设置clear: both;*/
  clear: both;
}
.clearfix {
  /*兼容IE6*/
  *zoom: 1;
}
@mixin whc() {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
@mixin down($w, $c) {
  width: 0;
  height: 0;
  border: $w solid transparent;
  border-top-color: $c;
  vertical-align: middle;
}
@mixin up($w, $c) {
  width: 0;
  height: 0;
  border: $w solid transparent;
  border-bottom-color: $c;
  vertical-align: middle;
}
@mixin v-position() {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@mixin h-position() {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
html,
body {
  font-size: 12px;
  color: #333;
  background: #f8f8f8;
}
img {
  vertical-align: top;
}
$color: #ff4040;
/* 顶部导航 */
.nav-top {
  height: 30px;
  border-bottom: 1px solid #e5e5e5;
  background-color: #f4f4f4;
  line-height: 30px;
  .nav-top-in {
    @include whc();
    .nav-left {
      height: 100%;
      overflow: hidden;
      display: flex;
      & > i {
        font-size: 14px;
        font-weight: bold;
        color: $color;
        margin-right: 5px;
      }
      a {
        color: #666;
        margin-right: 20px;
        &:hover {
          color: $color;
        }
      }
      .guangbo {
        margin-left: 5px;
        position: relative;
        li {
          cursor: pointer;
          &:hover {
            color: $color;
          }
        }
      }
    }
    .nav-right {
      li {
        float: right;
        margin-left: 20px;
        cursor: pointer;
        position: relative;
        & > div {
          text-align: center;
          width: 100px;
          height: auto;
          border: 1px solid #ccc;
          background: #fff;
          position: absolute;
          top: 30px;
          left: 0;
          z-index: 666;
          display: none;
          p {
            line-height: 20px;
          }
        }
        &:nth-child(4) {
          color: #aaa;
        }
        &:hover {
          color: $color;
          div {
            display: block;
          }
          p {
            color: #333;
          }
        }
        span {
          color: $color;
        }
        i {
          font-size: 14px;
          color: #aaa;
          vertical-align: middle;
        }
      }
    }
  }
}

/* 头部区域 */
.header {
  .header-in {
    @include whc();
    .header-title {
      padding-top: 20px;
      .header-left {
        h1 {
          float: left;
          a {
            display: inline-block;
            vertical-align: middle;
            &:first-child {
              width: 40px;
              height: 45px;
              margin-right: 5px;
              background: url("../images/cart-logo.png") no-repeat;
            }
            &:last-child {
              width: 73px;
              height: 48px;
              margin-top: 10px;
              background: url("../images/logo_txt.png") no-repeat;
            }
          }
        }
        p {
          padding-top: 12px;
          margin-left: 20px;
          float: left;
        }
        div {
          float: left;
          border-radius: 5px;
          background: #fcfbfb;
          padding: 2px 14px;
          margin: 8px 0 0 5px;
          border: 1px solid #eceaea;
          & > a {
            color: #666;
            font-size: 12px;
          }
          span {
            margin: 0 5px;
          }
          i {
            vertical-align: middle;
          }
        }
      }
      .header-right {
        width: 282px;
        height: 32px;
        border: 1px solid #eceaea;
        border-radius: 5px;
        background: #fcfbfb;
        padding-left: 10px;
        box-sizing: border-box;
        position: relative;
        input {
          height: 29px;
          line-height: 32px;
          outline: none;
          border: none;
          background: #fcfbfb;
        }
        i {
          @include v-position();
          right: 20px;
          color: #aaa;
        }
      }
    }
    .header-list {
      height: 40px;
      background: #fff;
      border-radius: 5px;
      border: 1px solid #dfdfdf;
      padding: 0 30px;
      color: #666;
      line-height: 40px;
      user-select: none;
      .checkbox {
        & > a {
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 1px solid #dfdfdf;
          vertical-align: middle;
          margin-right: 20px;
          border-radius: 2px;
          i {
            font-size: 16px;
            font-weight: bold;
            position: relative;
            bottom: 12px;
            color: #fff;
          }
        }
        .active {
          background: #ff5e5e;
        }
      }
      .tit {
        margin-left: 70px;
      }
      .price {
        margin-left: 380px;
      }
      .num {
        margin: 0 160px 0 120px;
      }
      .act {
        margin-left: 60px;
      }
    }
  }
}

/* 商品信息列表区域 */
.cart {
  .cart-in {
    @include whc();
    .cart-list {
      margin-top: 20px;
      .cart-title {
        height: 56px;
        line-height: 56px;
        background: #fff;
        border: 1px solid #dfdfdf;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0 30px;
        font-size: 14px;
        & > a {
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 1px solid #dfdfdf;
          vertical-align: middle;
          margin-right: 20px;
          border-radius: 2px;
          i {
            font-size: 16px;
            font-weight: bold;
            position: relative;
            bottom: 20px;
            color: #fff;
          }
        }
        .active{
          background: #ff5e5e;
        }
      }
      .cart-middle {
        height: 115px;
        background: #fff;
        border: 1px solid #dfdfdf {
          top: none;
        }
        padding: 20px 30px 0;
        box-sizing: border-box;
        & > a {
          float: left;
          width: 15px;
          height: 15px;
          border: 1px solid #dfdfdf;
          vertical-align: middle;
          margin: 30px 20px 0 0;
          border-radius: 2px;
          i {
            font-size: 16px;
            font-weight: bold;
            position: relative;
            bottom: 2px;
            color: #fff;
          }
        }
        .active{
          background: #ff5e5e;
        }
        & > img {
          float: left;
          width: 75px;
          height: 75px;
        }
        .info {
          float: left;
          margin: 0 170px 0 20px;
          & > a {
            padding-top: 5px;
            display: block;
            width: 265px;
            height: 44px;
            line-height: 22px;
            color: #333;
            overflow: hidden;
          }
          & > p {
            span {
              display: inline-block;
              width: 16px;
              height: 16px;
              color: #fff;
              text-align: center;
              line-height: 16px;
              border-radius: 5px;
              background: #fda55b;
              margin-right: 10px;
            }
            & > a {
              color: #aaa;
            }
          }
        }
        .num_act {
          width: 82px;
          height: 26px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border: 1px solid #dfdfdf;
          border-radius: 2px;
          margin-left: 108px;
          user-select: none;
          span {
            text-align: center;
            flex: 1;
            font-weight: bold;
            color: #666;
            cursor: pointer;
          }
          input {
            text-align: center;
            outline: none;
            border-left: 1px solid #dfdfdf;
            border-right: 1px solid #dfdfdf;
            border-top: none;
            border-bottom: none;
            width: 40px;
            height: 18px;
          }
        }
        .amount {
          width: 182px;
          text-align: right;
          color: #666;
          .money {
            color: #333;
            line-height: 24px;
            font-weight: bold;
          }
        }
        .item_act {
          margin-left: 60px;
          i {
            display: inline-block;
            width: 20px;
            height: 20px;
            color: #afafaf;
            font-size: 18px;
            font-weight: bold;
            cursor: pointer;
            &:last-child {
              margin-left: 10px;
            }
          }
        }
      }
      .cart-amount {
        height: 50px;
        line-height: 50px;
        padding: 0 30px;
        box-sizing: border-box;
        background: #fefcfc;
        text-align: right;
        border: 1px solid #dfdfdf {
          top: none;
        }
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        span {
          color: #ff5e5e;
          font-weight: bold;
          font-size: 14px;
          margin-left: 5px;
        }
      }
    }
  }
}

/* 隐藏区域 */
.hide{
  @include whc();
  height: 200px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  background: #fff;
  margin-top: 20px;
  text-align: center;
  line-height: 200px;
  color: #333;
  font-size: 30px;
  display: none;
}

/* 总价格区域 */
.tools {
  height: 60px;
  margin-top: 20px;
  background: #fff;
  .tools-in {
    line-height: 60px;
    padding: 0 30px;
    box-sizing: border-box;
    overflow: hidden;
    @include whc();
    .tools-left {
      a {
        color: #999;
        &:first-child {
          display: inline-block;
          width: 15px;
          height: 15px;
          border: 1px solid #dfdfdf;
          border-radius: 2px;
          vertical-align: middle;
          margin-right: 20px;
          i {
            position: relative;
            bottom: 21px;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
          }
        }
        &:nth-child(2) {
          color: #333;
          span {
            color: $color;
            font-weight: bold;
          }
        }
        &:last-child {
          &:hover {
            color: $color;
          }
        }
      }
      s {
        text-decoration: none;
        margin: 0 5px;
        color: #999;
      }
      .active{
        background: #ff5e5e;
      }
    }
    .tools-right {
      a {
        float: right;
        width: 110px;
        text-align: center;
        background-color: #ff6c6c;
        font-weight: bold;
        font-size: 17px;
        color: #fff;
        &:hover{
          background: #ff5e5e;
        }
      }
      p{
        line-height: 56px;
        float: right;
        margin: 0 20px;
        b{
          margin-left: 2px;
          font-size: 22px;
          color: #ff5e5e;
        }
      }
      &>span{
        float: right;
        margin-left: 20px;
        color: #999;
      }
      div{
        float: right;
        line-height: 64px;
        s{
          text-decoration: none;
          color: #999;
        }
        span{
          color: #ff5e5e;
        }
      }
    }
  }
}

/* 底部导航区域 */
.ft_wrap{
  height: 127px;
  background: #fff;
  margin-top: 100px;
  .ft-in{
    @include whc();
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
      text-align: center;
      display: flex;
      &>div{
        text-align: left;
        padding-top: 10px;
        margin-left: 10px;
        p{
          font-weight: bold;
          font-size: 16px;
          color: #333;
        }
        span{
          font-size: 14px;
          color: #999;
        }
      }

    }
  }
}

/* 底部区域 */
.footer{
  background:#fff;
  .footer-in{
    @include whc();
    padding-top: 20px;
    dl{
      width: 165px;
      float: left;
      dt{
        font-weight: bold;
        color: #666;
        font-size: 14px;
        margin-bottom: 15px;
      }
      dd{
        color: #666;
        line-height: 26px;
        cursor: pointer;
        &:hover{
          color: $color;
        }
      }
    }
    div{
      margin-left: 50px;
      h4{
        color: #666;
        font-size: 14px;
        line-height: 32px;
        font-weight: bold;
      }
    }
  }
}
.end{
  padding-top: 20px;
  text-align: center;
  background: #fff;
  p{
    line-height: 26px;
  }
}
